body {
    padding-top: 2rem;
    padding-bottom: 2rem;    
}

#source_channels,
#ordered_channels {
    height:1000px;
    margin: 0px;
    padding:0px;
}

.js-status {
    display:none;
}

.row {
    margin-bottom: 1rem;
}

#intro {
    font-size:0.7rem;
}

#channel_editor {
    display:none;
}

#ordered_channels li {
    list-style:none;
    cursor: hand;
    margin-bottom: 5px;
}

#ordered_channels label {
    display:block;
}

#ordered_channels .js-delete {
    float:right;
    position: relative;
    top:3px;
    right:5px;
}